<!DOCTYPE HTML>
<html>
<head>
    <title>첫 제대로 된 서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


<!--페이지 로딩 속도를 높이기 → CSS는 header에, js는 footer에 위치-->
<!--Why? HTML은 위에서부터 코드가 실행되므로, head가 다 실행되어야 body가 실행-->
<!-- 즉, head가 안불러지면 사용자는 백지 화면. js의 용량이 클수록 body의 실행부분이 늦어지므로 js는 body하단에 두는 게 좋음 -->
<!-- (추가) bootstrap.js는 제이쿼리가 꼭 있어야하므로(의존하므로) 부트스트랩보다 먼저 호출되도록 함-->