{{>layout/header}}
    <h1> 메인 화면 </h1>
    <div class="col-md-12">
        <!--로그인 영역-->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                {{/userName}}
            </div>
        </div>
    <br>
    <!--목록 출력 영역-->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}

<!--부트스트랩, 제이쿼리 등 프론트엔드 라이브러리를 사용한 방법 2가지-->
<!--(1) 외부 CDN을 사용 = 외부 서비스에 의존하게 되므로 실제 서비스에서는 잘 안씀-->
<!-- (1)-1 레이아웃 방식 추가-->
<!--        공통영역을 별도의 파일로 분리하여 필요한 곳에 갖다 쓰는 방식-->
<!--        매번 해당 라이브러리를 파일에 추가하는 것은 귀찮으니까 레이아웃 파일로 만들어 추가-->
<!--(2) 직접 라이브러리를 받아서 사용-->

<!--{> }} -->
<!-- · 현재 머스테치 파일(index.mustache)를 기준으로 다른 파일을 가져 옴-->

<!--{#posts}} -->
<!-- · posts라는 List를 순회-->
<!-- · Java의 for문과 동일하게 생각하면 편함-->
<!--{id}}등의 {변수명}}-->
<!-- · List에서 뽑아낸 객체의 필드를 사용-->

<!--<a href="/posts/update/{id}}"></a>-->
<!-- · 타이틀(title)에 a tag를 추가-->
<!-- · 타이틀을 클릭하면 해당 게시글의 수정화면으로 이동-->